DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=tu_contraseña_super_segura
DB_HOST=aws-0-sa-east-1.pooler.supabase.com # Este host te lo da Supabase en sus ajustes de Base de Datos
DB_PORT=6543 # Revisa si Supabase te indica el puerto 5432 o el 6543 (connection pooler)