# Base de datos (Supabase PostgreSQL)
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=tu_contraseña_super_segura
DB_HOST=aws-0-sa-east-1.pooler.supabase.com
DB_PORT=5432

# Django
SECRET_KEY=genera-una-clave-con-get_random_secret_key
DEBUG=True

# Hosts permitidos (separados por coma)
# En producción: tu-backend.onrender.com
ALLOWED_HOSTS=localhost,127.0.0.1

# Orígenes CORS permitidos (separados por coma)
# En producción: https://tu-frontend.vercel.app
CORS_ALLOWED_ORIGINS=http://localhost:5173