# Entorno virtual
venv/

# Variables de entorno
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
db.sqlite3
staticfiles/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
