annotated-types==0.7.0
asgiref==3.12.1
Django==6.0.7
django-cors-headers==4.9.0
django-environ==0.14.0
django-ninja==1.6.2
gunicorn==26.0.0
psycopg2-binary==2.9.12
pydantic==2.13.4
pydantic_core==2.46.4
sqlparse==0.5.5
typing-inspection==0.4.2
typing_extensions==4.16.0
tzdata==2026.3
whitenoise==6.12.0
